
@{
	ViewBag.Title = "Donhang";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using api_shop_ban_thuoc_btl_cnltth_2020.Models
@model List<VIEWDONHANG>

<div class="row" style="height: 100vh;">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="/home/index">Trang chủ</a> <span class="divider">/</span></li>
			<li class="active">Theo dõi đơn hàng</li>
		</ul>
		<div class="well well-small">
			
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th style="text-align:center">STT</th>
						<th style="text-align:center">Mã ĐH</th>
						<th style="text-align:center">Ngày Mua</th>
						<th style="text-align:center">Tổng tiền</th>
						<th style="text-align:center">Trạng thái</th>
						<th style="text-align:center">Chi tiết</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (Model != null)
						{
							int i=0;
							foreach (VIEWDONHANG it in Model)
							{
								i++;
								<tr>
								    <td style="text-align:center;">@i</td>
								    <td style="text-align:center;">@it.MaDH</td>
									<td style="text-align:center;">@it.NgayLap</td>
									<td style="text-align:center;">@it.TongTien</td>
								    <td style="text-align:center;">@it.TenTT</td>
									<td style="text-align:center;">
										<a style="text-decoration: none;" href="/DonHang/ChiTietDonHang/@it.MaDH"><span class="icon-edit"></span></a>
									</td>
								</tr>

							}


						}
						else
						{
							<tr>
								<td style="text-align:center;" colspan="7" class="alignR"><strong>BẠN CHƯA CÓ ĐƠN HÀNG NÀO</strong></td>
							</tr>
						}
					}

				</tbody>
			</table>



		</div>
	</div>
</div>

